.o_mo_menu_dropdown{
    border: 1px solid gray;
    div.o-dropdown--menu{
        border: 1px solid gray;
        .o_item_option:focus{
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
}
